h3 {
    color: #47525E;
    font-size: 23px;
    font-weight: 400;
    margin: 0;
}
.container {
    display: flex;
    margin: 10px;
    align-items: center;
}
.user_avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 60px;
}
.user_info {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;

    width: 400px;
    padding: 10px;
    border: 1px solid #47525E;
    border-radius: 10px;

}
.user_item {
    color: #47525E;
    font-weight: 500;
}
.user_photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.btn {
    margin-top: 15px;
    border: none;
    color: white;
    background-color: #50B759;
    padding: 5px 10px;
    width: 70px;
}
.btn:focus {
    outline: none;
}
.status {
    font-size: 13px;
    font-weight: 400;
    margin-top: 20px;
}