h3 {
    font-size: 23px;
    font-weight: 400;
    margin: 15px 10px;
}
.container {
    display: flex;
    margin: 10px;
    align-items: center;
}
.user_avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 60px;
}
.user_info {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;

    width: 400px;
    padding: 10px;
    border: 1px solid #9c9cab;
    border-radius: 10px;

}
.user_item {
    color: #9c9cab;;
    font-weight: 500;
}
.user_photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.btn {
    margin-top: 15px;
    border: none;
    color: #9c9cab;
    background-color: #151728;
    padding: 5px 10px;
    width: 70px;
}
.btn:hover {
    box-shadow: 0 0 20px #B0B8C2;
    color: white;
    transition: .3s linear;
}
.btn:focus {
    outline: none;
}
.status {
    font-size: 13px;
    font-weight: 400;
    margin-top: 20px;
}