
.bg {
    margin-top: 15px;
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 4px;

}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    color: #9c9cab;
    font-size: 28px;
    font-weight: 400;
    background-color: #151728;
    border-radius: 4px;
    margin-top: 10px;

}

.photo {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 10%;

}

.info {

}

.name {
    font-size: 33px;
    margin-bottom: 30px;
    font-weight: 400;
}
