@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700|Source+Sans+Pro:300,400,600,700&display=swap");

body {
  background-color: #373e57;
  color: #ccc8db
}
.app-wrapper {


  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 70px 1fr;
  grid-gap: 15px;
  width: 100%;
  height: auto;
  max-width: 1400px;
  padding-top: 20px;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;

}
.app-wrapper-content {
  grid-column: 2/3;
}
