.nav {
    grid-column: 1/2;
    display: flex;
    font-family: "Source Sans Pro";
    flex-direction: column;
    background-color: #151728;
    color: white;
    font-size: 22px;
    padding: 30px 15px;

}

.item {
    margin-bottom: 7px;
}

.item a {
    color: #9c9cab;
    text-decoration: none;
    margin-left: 10px;

}
.item a:hover {
    color: #efebeb;
    transition: .3s linear;
}
.item a.active {
    color: white;
}
.friends_container {
    display: flex;

}
.item_set {
    margin-top: 40px;
}

.item_friends {
    margin-top: 70px;
    font-size: 40px;
    font-weight: 100;
    opacity: 0.9;
}
.icon {
    width: 20px;
    height: 20px;
}
.friends_item {
    font-size: 12px;
    padding: 0 10px;
    margin-top: 10px;
    text-align: center;
}

.friends_item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}